#container {
    position: relative;
    left: 50%;
    margin-left: -390px;
    width: 780px;
    margin: 5px auto;
    padding: 10px 0;
    border-style: solid;
    border-width: 1.5px;
    border-color: #071419;
    border-radius: 12px;
}

[class="text-lg leading-6 font-medium text-gray-900"] {
    text-align: center;
}

h1 {
    font-variant: small-caps;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    text-align: center;
}

[type=Button] {
    background-color: #6E7B91;
    color: #FFF;
    border: 1.5px solid #333;
    font-size: 16px;
    font-weight: 600;
    padding: 1.5px 12px;
    margin: 0.4px
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
    
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
